html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100%;
    overflow: hidden;
}

.main-container .row {
    height: 100%;
}

/* components for left and right box */

.main-container .row .recipient.active,
.main-container .row .recipient {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;
}

.main-container .row .recipient.active p,
.main-container .row .recipient p {
    margin-bottom: 0 !important;
}

.main-container .row .recipient.active {
    background: yellow;
}

/* ------------------------------------------------------ left box ------------------------------------------------------------*/
.main-container .row .left-box {
    height: 100vh;
    background-color: #F2F2F2;
    padding-left: 25px;
    padding-right: 15px;
    overflow: auto;
}

/* ------------------------------------------------------ middle box ------------------------------------------------------------*/
.main-container .row .middle-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.middle-box .message-header {
    height: 8vh;
    width: 100%;
    background-color: aqua;
}

.middle-box .messages-box {
    height: 82vh;
    width: 100%;
    background-color: yellow;
    overflow: auto;
}

.middle-box .typing-box {
    height: 10vh;
    width: 100%;
    background-color: green;
}



/* ------------------------------------------------------ right box ------------------------------------------------------------*/

.main-container .row .right-box {
    height: 100vh;
    background-color: #F2F2F2;
    padding-left: 15px;
    padding-right: 25px;
    overflow: auto;
}