html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100%;
    overflow: hidden;
}

.main-container .row {
    height: 100%;
}

/* ------------------------------------------------------ left box ------------------------------------------------------------*/
.main-container .row .left-box {
    height: 100vh;
    background-color: #F2F2F2;
    padding-left: 25px;
    padding-right: 15px;
    overflow: auto;
    /* max-height: 100vh; */
}

.left-box .recipient.active,
.left-box .recipient {
    background: yellow;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;
}

.left-box #chat-1 .recipient.active p,
.left-box #chat-1 .recipient p {
    margin-bottom: 0 !important;
}



/* ------------------------------------------------------ middle box ------------------------------------------------------------*/






/* ------------------------------------------------------ right box ------------------------------------------------------------*/